<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


  <bean class="com.xworkz.projector.custom.Projector" id="projector">

<constructor-arg value="20"/>
<constructor-arg value="true"/> 
<constructor-arg value="10.56"/>   
<property name="cost" value="456" /> </bean>   
 
 
 
</beans>

